{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'search/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'search/bootstrap/css/bootstrap.min.css' %}" integrity="" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'search/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'search/style.css' %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Procon</title>
    </head>
    <body>
        <div class="vertical-center">
            <div class="container">
                <h1>Ops!</h1>
                <h2>Algo não saiu como esperado...</h2>
                <div class="row">
                    <div class="col">
                        <div class="error-box">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <img src="{% static 'search/img/broken_robot.png' %}" />
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'search/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'search/popper.min.js' %}"></script>
        <script src="{% static 'search/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'search/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'search/script.js' %}"></script>
    </body>
</html>