{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-title">Procon Admin</div>
    <ul class="nav">
        <li class="nav-item nav-category">Menu Principal</li>
        <li class="nav-item {% if request.resolver_match.view_name == 'admin:index' %}active{%endif%}">
                <a class="nav-link" href="{% url 'admin:index' %}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
        </li>
        {% for app in available_apps %}
            {% for model in app.models %}
                {% if model.admin_url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ model.admin_url }}">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">{{ model.name }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="{% if request.resolver_match.view_name in 'admin:log_search,admin:log_search_click' %}true{% else %}false{%endif%}" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Logs</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if request.resolver_match.view_name in 'admin:log_search,admin:log_search_click' %}show{%endif%}" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item {% if request.resolver_match.view_name == 'admin:log_search' %}active{%endif%}">
                <a class="nav-link" href="{% url 'admin:log_search' %}">Buscas</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == 'admin:log_search_click' %}active{%endif%}">
                <a class="nav-link" href="{% url 'admin:log_search_click' %}">Cliques em Buscas</a>
                </li>
            </ul>
            </div>
        </li>
        <li class="nav-item {% if request.resolver_match.view_name == 'admin:config' %}active{%endif%}">
            <a class="nav-link" href="{% url 'admin:config' %}">
            <i class="menu-icon typcn typcn-th-large-outline"></i>
            <span class="menu-title" >Configurações do Cluster</span>
            </a>
        </li>
    </ul>
</nav>