{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>search - Administração</title>
        <link rel="stylesheet" href="{% static 'admin/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'admin/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.addons.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/shared/style.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/demo_1/style.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">

    </head>
    <body>
        <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            {% include './_sidebar.html' %}
            <div class="main-panel">
            {% block content %}{% endblock %}
            {% include './_footer.html' %}
            </div>
        </div>
        </div>
        <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
        <script src="{% static 'admin/vendors/js/vendor.bundle.addons.js' %}"></script>

        <script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'search/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'admin/js/admin.js' %}"></script>
        <script src="{% static 'admin/js/dashboard.js' %}"></script>
        {% block additional_script %}{% endblock %}
    </body>
</html>